* {
  background-color: rgb(255, 72, 0);
}

body {
  color: blueviolet;
  font-family: "Times New Roman", Times, serif;
  position: relative;
}

.Not-Found {
  color: aquamarine;
  font-family: "Times New Roman", Times, serif;
}

.img-not-found {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 500px;
  height: 500px;
  border-radius: 50%;
}
